form {
    width: 250px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #d9d9d9;
}

.group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-style: italic;
    font-weight: bold;
}

.buttonConnect {
    width: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #9747ff;
    padding: 5px;
    margin-top: 10px;
}