@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2? family= Cookie & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Comic+Neue:wght@300 & display=swap');
@import './css/home.css';
@import './css/FormLogin.css';